<div id="<%= dom_id country_demographic %>">
  <p>
    <strong>Name:</strong>
    <%= country_demographic.name %>
  </p>

  <p>
    <strong>Mobilephones:</strong>
    <%= country_demographic.mobilephones %>
  </p>

  <p>
    <strong>Mortalityunder5:</strong>
    <%= country_demographic.mortalityunder5 %>
  </p>

  <p>
    <strong>Healthexpenditurepercapita:</strong>
    <%= country_demographic.healthexpenditurepercapita %>
  </p>

  <p>
    <strong>Healthexpenditureppercentgdp:</strong>
    <%= country_demographic.healthexpenditureppercentgdp %>
  </p>

  <p>
    <strong>Population:</strong>
    <%= country_demographic.population %>
  </p>

  <p>
    <strong>Populationurban:</strong>
    <%= country_demographic.populationurban %>
  </p>

  <p>
    <strong>Birthrate:</strong>
    <%= country_demographic.birthrate %>
  </p>

  <p>
    <strong>Lifeexpectancy:</strong>
    <%= country_demographic.lifeexpectancy %>
  </p>

  <p>
    <strong>Gdp:</strong>
    <%= country_demographic.gdp %>
  </p>

</div>
